In [ ]:
import numpy as np

In [ ]:
names=np.array(['Bob','James','John','Bob','Bob'])
names
names=='Bob'

In [ ]:
names[names=='Bob']

In [ ]:
data=np.random.randn(7,4)
data

In [ ]:
data>0

In [ ]:
data[data>0]

In [ ]:
data[(data<0)]=0
data

In [ ]:
names[(names=='Bob')|(names=='John')]

In [ ]:
arr=np.random.randint(1,10,(4,5))
arr

In [ ]:
# 和
np.sum(arr)

In [ ]:
# 每一行的和
np.sum(arr,axis=1)

In [ ]:
# 每一列的和
np.sum(arr,axis=0)

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series,DataFrame

In [ ]:
# Series：带索引的一维数组 属性index和values
# 数字形式的索引
s=Series(['a','b','c','d','e'])
s

In [ ]:
s=Series(['a','b','c','d','e'],index=[1,2,3,4,5])
s

In [ ]:
s=Series(np.arange(5),index=['a','b','c','d','e'])
s

In [ ]:
s['d']

In [ ]:
s[['a','b','c']]=1
s>=3
s['a']

In [ ]:
s*2

In [ ]:
# 使用字典创建Series key变为index value变为values
data={"Beijing":2000,"Hangzhou":1800,"Tianjing":1500}
s=Series(data)
s=Series(data,index=["Beijing","Hangzhou","Nanjing"])
s

In [ ]:
# 获取s中为空的值
pd.isnull(s)
# 非空
pd.notnull(s)

In [ ]:
s[pd.isnull(s)]=1500
s

In [111]:
data1={"Beijing":2000,"Nanjing":1800,"Chendu":1500}
data2={"Hangzhou":1800,"Shanghai":2000,"Xi\'an":1600}
s1=Series(data1)
s2=Series(data2)

In [ ]:
display(s1,s2)

In [115]:
data3={"Beijing":234,"Chendu":567,"Nanjing":100}
s3=Series(data3)
s1+s3

Beijing    2234
Chendu     2067
Nanjing    1900
dtype: int64

In [121]:
# DataFrame
# 结构化数据 半结构化数据 非结构化数据
data={"city":["Beijing","Chendu","Shanghai"],
      "year":[2017,2018,2019],
      "people":[156,569,364]
     }
df=DataFrame(data)
df

       city  year  people
0   Beijing  2017     156
1    Chendu  2018     569
2  Shanghai  2019     364

In [123]:
df.columns

Index(['city', 'year', 'people'], dtype='object')

In [127]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    3 non-null      object
 1   year    3 non-null      int64
 2   people  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

(3, 3)