pandas

In [2]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [2]:
s = Series(np.arange(5),index = ['a','b','c','d','e'])

索引取值  
bool索引

In [3]:
print(s['a'])
print(s[['a','b','c']])
s[s > 3] = 3
print(s)

0
a    0
b    1
c    2
dtype: int32
a    0
b    1
c    2
d    3
e    3
dtype: int32

字典创建Series  
key->index  
value->values  
如果自己加入index，并且与字典的key不匹配  
Series会使用自己添加的index，并且无对应值的index为空(NaN)  
与index不对应的key不显示

In [4]:
s = Series({'Beijing':1500,'Chendu':1200},index = ['Beijing','Shanghai'])
print(s)
s[pd.isnull(s)] = 0
print(s)
s[pd.notnull(s)] = 1000
print(s)

Beijing     1500.0
Shanghai       NaN
dtype: float64
Beijing     1500.0
Shanghai       0.0
dtype: float64
Beijing     1000.0
Shanghai    1000.0
dtype: float64

Series之间可以计算

In [5]:
data1 = {'Beijing':1500,'Nanjing':1300,'Chendu':1200}
data2 = {'Beijing':2000,'Nanjing':1600,'Shanghai':1400}
s1 = Series(data1)
s2 = Series(data2)
print(s1 + s2)

Beijing     3500.0
Chendu         NaN
Nanjing     2900.0
Shanghai       NaN
dtype: float64

DataFrame  
二维表

In [3]:
data = {'city':['Beijing','Shanghai'],'year':[2007,2008],'people':[1200,1900]}
df = DataFrame(data)
print(df)

       city  year  people
0   Beijing  2007    1200
1  Shanghai  2008    1900

In [ ]:
print(df.columns)
print(df.index)
print(df.info())
print(df.shape)

Index(['city', 'year', 'people'], dtype='object')
RangeIndex(start=0, stop=2, step=1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    2 non-null      object
 1   year    2 non-null      int64
 2   people  2 non-null      int64
dtypes: int64(2), object(1)
memory usage: 180.0+ bytes
None
(2, 3)

In [ ]:
data = [
    [1001, 'Alice', 25, 85, 'Female'],
    [1002, 'Bob', 22, 78, 'Male'],
    [1003, 'Charlie', 28, 92, 'Male'],
    [1004, 'Diana', 24, 88, 'Female']
]
columns = ['id','name','age','score','sex']
stu_info = pd.DataFrame(data,columns = columns)
stu_info = stu_info.set_index('id')
stu_info

         name  age  score     sex
id
1001    Alice   25     85  Female
1002      Bob   22     78    Male
1003  Charlie   28     92    Male
1004    Diana   24     88  Female

通过索引取值

In [ ]:
stu_info['name']

id
1001      Alice
1002        Bob
1003    Charlie
1004      Diana
Name: name, dtype: object

选取多列返回一个DataFrame

In [ ]:
stu_score = stu_info[['name','score']]
stu_score

         name  score
id
1001    Alice     85
1002      Bob     78
1003  Charlie     92
1004    Diana     88

DataFrame.loc(指定行，指定列)

In [ ]:
stu_info.loc[[1001,1002],'score'] = [100,99]
print(stu_info)

         name  age  score     sex
id
1001    Alice   25    100  Female
1002      Bob   22     99    Male
1003  Charlie   28     92    Male
1004    Diana   24     88  Female

原始数据收集  
数据清洗，数据处理  
什么是数据分析，怎么数据分析  
(逻辑，算法，机器学习)   
生成可视化报告

处理.tsv  
pd.read_csv(path,sep = '\t')

In [81]:
path = 'D:\\Code\\code\\csv\\chipotle.csv'
df = pd.read_csv(path)

In [12]:
df.shape

(4622, 5)

查看末尾开头  
.head() .tail()

In [14]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

1.每个商品被下单次数  
2.order_id == 1的点单情况

In [31]:
df[df['order_id'] == 1]
df['item_name'].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

有多少商品被下单

In [44]:
df['item_name'].nunique()
df['item_name'].value_counts().shape[0]

50

'choice_description'出现次数最多的一个

In [29]:
df['choice_description'].value_counts().head(1)

choice_description
[Diet Coke]    134
Name: count, dtype: int64

In [32]:
df['quantity'].sum()

4972

新加一列记录交易价格  
对某一列操作  
df['column'].apply(func)

In [83]:
s = df['item_price'].apply(lambda x:float(x[1:]))
df['item_price_float'] = s
s.sum()

34500.16

In [54]:
df['order_id'].nunique()
df['order_id'].value_counts().head(1)
df['order_id'].value_counts().shape[0]

1834

分别计算每一单的总价  
再计算一个平均值

In [84]:
df2 = df.groupby(by = ['order_id']).sum()
s = df2['item_price_float']
s.sum()
price_avg = (s.sum()) / (s.shape[0])
print(round(price_avg,2))

18.81

In [65]:
round(df.groupby(['order_id']).sum()['item_price_float'].mean(),2)

18.81

案例分析  
王者荣耀英雄数据

In [102]:
path = 'D:\\Code\\code\\csv\\type_heros.csv'
df = pd.read_csv(path)
df

   英雄类型  英雄名称    血量  物理伤害  法术伤害  物理防御  法术防御 攻击范围
0    坦克   程咬金  6390   172     0   200   150   近战
1    坦克    廉颇  6580   180     0   210   145   近战
2    坦克    项羽  6700   185     0   220   135   近战
3    坦克    白起  6450   178     0   205   155   近战
4    坦克    刘禅  6200   168     0   195   140   近战
5    战士    吕布  5880   200     0   180   120   近战
6    战士    典韦  5750   210     0   175   115   近战
7    战士     铠  5680   205     0   185   125   近战
8    战士   夏侯惇  5900   190     0   190   130   近战
9    战士   花木兰  5500   195     0   170   110   近战
10   刺客   兰陵王  5200   220     0   160   100   近战
11   刺客    阿轲  5100   225     0   155    95   近战
12   刺客    韩信  5000   215     0   150    90   近战
13   刺客  娜可露露  5050   218     0   152    92   近战
14   刺客  百里守约  5150   200     0   165   105   远程
15   法师    妲己  5000   150   280   140   160   远程
16   法师   安琪拉  5100   145   290   135   165   远程
17   法师   诸葛亮  5200   160   270   145   155   远程
18   法师  不知火舞  5050   155   275   138   158   远程
19   法师    貂蝉  5150   152   285   142   162   远程
20   射手    后羿  4900   230     0   130    80   远程
21   射手  鲁班七号  4800   225     0   125    75   远程
22   射手   孙尚香  4850   235     0   128    78   远程
23   射手   公孙离  4750   220     0   120    70   远程
24   射手    伽罗  4950   215     0   132    82   远程
25   辅助   蔡文姬  5300   140   200   150   140   远程
26   辅助    孙膑  5250   135   210   145   145   远程
27   辅助    大乔  5350   130   220   155   150   远程
28   辅助    牛魔  6000   170     0   200   160   近战
29   辅助    张飞  6100   175     0   205   165   近战
30   打野   孙悟空  5600   210     0   170   110   近战
31   打野   裴擒虎  5400   200     0   165   105   近战
32   打野   橘右京  5300   205     0   160   100   近战
33   打野    赵云  5700   195     0   175   115   近战
34   打野    盘古  5800   190     0   180   120   近战
35   游走   明世隐  5200   145   180   140   130   近战
36   游走     瑶  5100   138   190   135   135   远程
37   游走  太乙真人  5400   150   170   150   140   近战
38   游走    钟馗  5500   160   250   160   150   近战
39   游走  东皇太一  5900   170   220   190   170   近战

前五血量查看

In [93]:
df.sort_values(by = ['血量'],ascending = False).head(5)

  英雄类型 英雄名称    血量  物理伤害  法术伤害  物理防御  法术防御
2   坦克   项羽  6700   185     0   220   135
1   坦克   廉颇  6580   180     0   210   145
3   坦克   白起  6450   178     0   205   155
0   坦克  程咬金  6390   172     0   200   150
4   坦克   刘禅  6200   168     0   195   140

查看平均属性值

In [ ]:
df.groupby(by = '英雄类型').mean(numeric_only = True).sort_values(by = ['血量'],ascending = True).applymap(lambda x:round(x))

C:\Users\27002\AppData\Local\Temp\ipykernel_20496\2101224886.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.groupby(by = '英雄类型').mean(numeric_only = True).sort_values(by = ['血量'],ascending = True).applymap(lambda x:round(x))

        血量  物理伤害  法术伤害  物理防御  法术防御
英雄类型
射手    4850   225     0   127    77
刺客    5100   216     0   156    96
法师    5100   152   280   140   160
游走    5420   153   202   155   145
打野    5560   200     0   170   110
辅助    5600   150   126   171   152
战士    5742   200     0   180   120
坦克    6464   177     0   206   145

查看职业数量  
查看不同攻击范围的英雄数量

In [109]:
df['英雄类型'].value_counts()
df['攻击范围'].value_counts()
df.groupby(['攻击范围'])['血量'].count()

攻击范围
近战    25
远程    15
Name: 血量, dtype: int64

不同类型血量排名

In [110]:
df.groupby(['英雄类型'])['血量'].mean().sort_values()

英雄类型
射手    4850.0
刺客    5100.0
法师    5100.0
游走    5420.0
打野    5560.0
辅助    5600.0
战士    5742.0
坦克    6464.0
Name: 血量, dtype: float64

查询某一个英雄数据  
bool索引

In [114]:
df[df['法术伤害'] == 0]
df[df['英雄名称'] == '吕布']
df[df['物理伤害'] == 200]

   英雄类型  英雄名称    血量  物理伤害  法术伤害  物理防御  法术防御 攻击范围
5    战士    吕布  5880   200     0   180   120   近战
14   刺客  百里守约  5150   200     0   165   105   远程
31   打野   裴擒虎  5400   200     0   165   105   近战

比较数据优劣

In [122]:
num1 = df[df.英雄名称.isin(['吕布','孙尚香','阿轲','兰陵王','东皇太一'])]
num2 = df[(df.英雄名称 == '白起') | (df.英雄名称 == '安琪拉') | (df.英雄名称 == '刘禅') | (df.英雄名称 == '典韦') | (df.英雄名称 == '不知火舞')]
display(num1,num2)
num1.mean(numeric_only = True) - num2.mean(numeric_only = True)

   英雄类型  英雄名称    血量  物理伤害  法术伤害  物理防御  法术防御 攻击范围
5    战士    吕布  5880   200     0   180   120   近战
10   刺客   兰陵王  5200   220     0   160   100   近战
11   刺客    阿轲  5100   225     0   155    95   近战
22   射手   孙尚香  4850   235     0   128    78   远程
39   游走  东皇太一  5900   170   220   190   170   近战

   英雄类型  英雄名称    血量  物理伤害  法术伤害  物理防御  法术防御 攻击范围
3    坦克    白起  6450   178     0   205   155   近战
4    坦克    刘禅  6200   168     0   195   140   近战
6    战士    典韦  5750   210     0   175   115   近战
16   法师   安琪拉  5100   145   290   135   165   远程
18   法师  不知火舞  5050   155   275   138   158   远程

血量     -324.0
物理伤害     38.8
法术伤害    -69.0
物理防御     -7.0
法术防御    -34.0
dtype: float64

2012欧洲杯球队数据分析

In [6]:
path = 'D:\\Code\\code\\csv\\foot_team.csv'
df = pd.read_csv(path)
df

,Team,Goals,Shots on target,Shots off target,Yellow Cards,Red Cards,Total shots
0,Croatia,4,13,12,9,0,32
1,Czech Republic,4,13,18,8,0,39
2,Denmark,4,10,10,8,0,27
3,England,5,11,18,6,0,40
4,France,3,22,24,5,0,65
5,Germany,10,32,32,12,0,80
6,Greece,5,8,18,12,1,32
7,Italy,6,34,45,16,0,110
8,Netherlands,2,12,36,3,0,60
9,Poland,2,15,23,3,1,48
10,Portugal,6,22,42,10,0,82
11,Republic of Ireland,1,7,12,11,1,28
12,Russia,5,9,31,4,0,59
13,Spain,12,42,33,19,0,100
14,Sweden,5,17,19,7,0,39
15,Ukraine,2,7,26,4,0,38

In [13]:
df.shape[0]
df['Team'].count()
cards = df[['Team','Yellow Cards','Red Cards']]
cards.sort_values(by = ['Yellow Cards'],ascending = False)

                   Team  Yellow Cards  Red Cards
13                Spain            19          0
7                 Italy            16          0
5               Germany            12          0
6                Greece            12          1
11  Republic of Ireland            11          1
10             Portugal            10          0
0               Croatia             9          0
1        Czech Republic             8          0
2               Denmark             8          0
14               Sweden             7          0
3               England             6          0
4                France             5          0
12               Russia             4          0
15              Ukraine             4          0
8           Netherlands             3          0
9                Poland             3          1

In [38]:
cards['Yellow Cards'].mean()
df[df['Goals'] >= 6]
df.iloc[:,0:2]
df.iloc[[7,12],0:2]

      Team  Goals
7    Italy      6
12  Russia      5

二手房交易数据

In [51]:
path = 'D:\\Code\\code\\csv\\house.csv'
df = pd.read_csv(path)

In [ ]:
df['ConstructionTime'].value_counts()

In [61]:
index1 = df[df['ConstructionTime'] == '未知'].index
index2 = df[df['ConstructionTime'] == '1'].index
index3 = df[df['ConstructionTime'] == '0'].index
df.drop(index1,inplace = True)
df.drop(index2,inplace = True)
df.drop(index3,inplace = True)
df.sort_values(['ConstructionTime','SellPrice']).head(5)

    ID  Rooms  BuyPrice  SellPrice ConstructionTime   TradeTime BuildingType
35  36      2    850000     930000             1996  2023-01-08           公寓
26  27      2    920000    1020000             1997  2023-01-22          老洋房
17  18      1    680000     750000             1998  2023-01-15          老洋房
8    9      3   1600000    1750000             1999  2023-09-05          老洋房
2    3      1    800000     880000             2000  2023-03-22           公寓

In [67]:
df['BuildingType'].value_counts()
df.groupby(by = ['BuildingType']).mean(numeric_only = True)
df[df['BuildingType'] == '老洋房']['SellPrice'].mean()

1367500.0